* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
}

#taskInput {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

#addBtn {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#taskList {
    list-style: none;
    margin-top: 20px;
}

li {
    padding: 10px;
    background: #e9ecef;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: crimson;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}
